In [17]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [18]:
with open("C:\\Users\\parth\\OneDrive\\Desktop\\parth\\Machine-learning\\Machine-learning\\18-Naive-Bayes-and-NLP\\One.txt") as mytext:
    word_one=mytext.read().lower().split()
    unqi_word_one=set(word_one)

In [19]:
unqi_word_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [20]:
with open("C:\\Users\\parth\\OneDrive\\Desktop\\parth\\Machine-learning\\Machine-learning\\18-Naive-Bayes-and-NLP\\Two.txt") as mytext:
    word_two=mytext.read().lower().split()
    unqi_word_two=set(word_two)

In [21]:
unqi_word_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [22]:
all_uni_words=set()
all_uni_words.update(unqi_word_one)

In [23]:
all_uni_words.update(unqi_word_two)

In [24]:
all_uni_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [25]:
full_vocab=dict()
i=0
for word in all_uni_words:
    full_vocab[word]=i
    i=i+1

In [26]:
full_vocab

{'fun': 0,
 'sport': 1,
 'water': 2,
 'pets': 3,
 'about': 4,
 'story': 5,
 'this': 6,
 'waves': 7,
 'a': 8,
 'furry': 9,
 'our': 10,
 'are': 11,
 'popular': 12,
 'canine': 13,
 'surfing': 14,
 'animals': 15,
 'dogs': 16,
 'catching': 17,
 'is': 18}

In [27]:
one_freq=[0]*len(full_vocab)
two_freq=[0]*len(full_vocab)
all_word=['']*len(full_vocab)

In [28]:
one_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [29]:
two_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [30]:
all_word

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [33]:
with open("C:\\Users\\parth\\OneDrive\\Desktop\\parth\\Machine-learning\\Machine-learning\\18-Naive-Bayes-and-NLP\\One.txt") as f:
    one_text=f.read().lower().split()

In [34]:
one_text

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [35]:
for word in one_text:
    word_index=full_vocab[word]
    one_freq[word_index]+=1

In [36]:
one_freq

[0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 2, 0, 1]

In [37]:
with open("C:\\Users\\parth\\OneDrive\\Desktop\\parth\\Machine-learning\\Machine-learning\\18-Naive-Bayes-and-NLP\\Two.txt") as f:
    Two_text=f.read().lower().split()

In [38]:
Two_text

['this',
 'story',
 'is',
 'about',
 'surfing',
 'catching',
 'waves',
 'is',
 'fun',
 'surfing',
 'is',
 'a',
 'popular',
 'water',
 'sport']

In [39]:
for word in Two_text:
    word_index=full_vocab[word]
    two_freq[word_index]+=1

In [40]:
two_freq

[1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 2, 0, 0, 1, 3]

In [41]:
all_word

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [42]:
for word in full_vocab:
    word_index=full_vocab[word]
    all_word[word_index]=word

In [43]:
all_word

['fun',
 'sport',
 'water',
 'pets',
 'about',
 'story',
 'this',
 'waves',
 'a',
 'furry',
 'our',
 'are',
 'popular',
 'canine',
 'surfing',
 'animals',
 'dogs',
 'catching',
 'is']

In [45]:
bow=pd.DataFrame(data=[one_freq,two_freq],columns=all_word)

In [46]:
bow

   fun  sport  water  pets  about  ...  surfing  animals  dogs  catching  is
0    0      0      0     1      1  ...        0        1     2         0   1
1    1      1      1     0      1  ...        2        0     0         1   3

[2 rows x 19 columns]