Input and Output for data analysis using Html tables

In [4]:
import pandas as pd

In [5]:
url="https://en.wikipedia.org/wiki/World_population"

In [6]:
tables=pd.read_html(url)

In [7]:
len(tables)

31

In [14]:
tables[1]

,Population,1,2,3,4,5,6,7,8,9,10
0,Year,1804,1927,1960,1974,1987,1999,2011,2022,2037,2057
1,Years elapsed,"200,000+",123,33,14,13,12,12,11,15,20

In [12]:
tables[2].columns

Index(['Region', '2022 (percent)', '2030 (percent)', '2050 (percent)'], dtype='object')

In [15]:
world_top_ten=tables[4]

In [16]:
world_top_ten

,Region,Density (inhabitants/km2),Population (millions),Most populous country,Most populous city (metropolitan area)
0,Asia,104.1,4641,"1,439,090,595 – India","13,515,000 – Tokyo Metropolis (37,400,000 – Gr..."
1,Africa,44.4,1340,"0,211,401,000 – Nigeria","09,500,000 – Cairo (20,076,000 – Greater Cairo)"
2,Europe,73.4,747,"0,146,171,000 – Russia, approx. 110 million in...","13,200,000 – Moscow (20,004,000 – Moscow metro..."
3,Latin America,24.1,653,"0,214,103,000 – Brazil","12,252,000 – São Paulo City (21,650,000 – São ..."
4,Northern America[note 1],14.9,368,"0,332,909,000 – United States","08,804,000 – New York City (23,582,649 – New Y..."
5,Oceania,5,42,"0,025,917,000 – Australia","05,367,000 – Sydney"
6,Antarctica,~0,0.004[86],N/A[note 2],"00,001,258 – McMurdo Station"

In [18]:
world_top_ten.drop(6,axis=0)

,Region,Density (inhabitants/km2),Population (millions),Most populous country,Most populous city (metropolitan area)
0,Asia,104.1,4641,"1,439,090,595 – India","13,515,000 – Tokyo Metropolis (37,400,000 – Gr..."
1,Africa,44.4,1340,"0,211,401,000 – Nigeria","09,500,000 – Cairo (20,076,000 – Greater Cairo)"
2,Europe,73.4,747,"0,146,171,000 – Russia, approx. 110 million in...","13,200,000 – Moscow (20,004,000 – Moscow metro..."
3,Latin America,24.1,653,"0,214,103,000 – Brazil","12,252,000 – São Paulo City (21,650,000 – São ..."
4,Northern America[note 1],14.9,368,"0,332,909,000 – United States","08,804,000 – New York City (23,582,649 – New Y..."
5,Oceania,5,42,"0,025,917,000 – Australia","05,367,000 – Sydney"

In [24]:
world_top_ten.to_html("C:\\Users\\parth\\OneDrive\\Desktop\\parth\\Machine-learning(Practical & coding)\\Pandas\\sample_table.html")

AttributeError: 'list' object has no attribute 'to_html'

In [26]:
print(type(world_top_ten))

<class 'list'>

In [28]:
world_top_ten_df = pd.DataFrame(world_top_ten)

In [29]:
world_top_ten_df.to_html("C:\\Users\\parth\\OneDrive\\Desktop\\parth\\Machine-learning(Practical & coding)\\Pandas\\sample_table.html")