In [1]:
import numpy as np
import pandas as pd

In [2]:
#help(pd.Series)

In [3]:
myindex=["USA","Germany","India"]
mydata=[1761,1560,1947]
myser=pd.Series(data=mydata,index=myindex)
myser

USA        1761
Germany    1560
India      1947
dtype: int64

In [4]:
myser[0] # normal index

C:\Users\parth\AppData\Local\Temp\ipykernel_12648\34131598.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  myser[0] # normal index

1761

In [5]:
myser["USA"] # label index

1761

In [6]:
ages={"Sam":5,"Trump":60,"Elon":52}
pd.Series(ages) # it will automatically convert the dictionary into a pandas series

Sam       5
Trump    60
Elon     52
dtype: int64

In [7]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [8]:
sale_q1=pd.Series(q1)

In [9]:
sale_q2=pd.Series(q2)

In [10]:
#if you want specfic sale 
sale_q1['Japan']
sale_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

Same operation on numpy we can do it in pandas also

In [11]:
sale_q1/100 # convert to percentage operation  Broadcast set of operations to all the row in the dictornary

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [12]:
# if we want to calculate the total sale in the year we can just directly add the sales of q1 and q2
# but japan aur brazil like japan q1 mein hai but q2 mein nahi hai and brazil is opposite
sale_q1+sale_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [13]:
# to solve this problem 
first_sale=sale_q1.add(sale_q2,fill_value=0)

In [14]:
#after we perform any math operation it converts from int to float 
first_sale.dtype

dtype('float64')