In [1]:
import pandas as pd
import numpy as np

In [9]:
from sqlalchemy import create_engine
temp_db = create_engine('sqlite:///:memory:')  # this create database in the ur computer memory ie ram

In [10]:
# to connect to different databases you can google search mysql+sqlachemy go to the dialect
df=pd.DataFrame(np.random.randint(0,100,(4,4)),columns=['a','b','c','d'])

In [11]:
df

    a   b   c   d
0  85  41  25  76
1  83  41  84  74
2  45  82  54  71
3  48  59  32  77

In [12]:
df.to_sql(name='New_table',con=temp_db) # if you once again run this line then it will give the error as it is already present in the database

4

In [8]:
try:
    df.to_sql(name='New_table', con=temp_db, if_exists='append', index=False)
except Exception as e:
    print(f"An error occurred: {e}")

An error occurred: (sqlite3.OperationalError) unable to open database file
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [15]:
new_df=pd.read_sql(sql='New_table',con=temp_db)  # to read the table

In [17]:
# to run the sql query
result=pd.read_sql_query(sql='Select a,c from New_table',con=temp_db)

In [18]:
result

    a   c
0  85  25
1  83  84
2  45  54
3  48  32